body{
     width: auto;
    padding: 25px;
    background-color: #cccccc;
}

ul {
    list-style-type: none;
    margin: 0;
    width: auto;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo{
	float: left;
    color: white;
    text-align: center;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 0px;
    background-color: #4aaaa5;

}

#wbg{
    background-color: #ffffff;
    margin: auto;
    margin-top: 15px;
    width: 67%;
    padding: 25px;

}

#cnav{
   margin: 0 auto;
    width: 70.5%;
    padding: 0px; 
}

#port{
    float: left;
    margin-right: 20px;
}

#wHead{
    background-color: #ffffff;
}